.aboutUs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 5rem;
}

.aboutUsImage {
  position: relative;
  height: 100%;
  flex-basis: 260px !important;
  overflow: hidden;
  border-radius: 6px;
  -webkit-box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
  box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
  aspect-ratio: 4/3;
}

.aboutUs div {
  flex-basis: 72%;
}

@media only screen and (max-width: 1320px){
  .aboutUs div{
    flex-basis: 70%;
  }
}

@media only screen and (max-width: 1220px){
  .aboutUs div{
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 1rem;
  }
  .aboutUsImage{
    flex-basis: 400px !important;

  }
}




