.articleContainer {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1% 12% 2% 12%;
  column-gap: 5%;

}
.articleContainer article {
  padding: 5%;
}

.articleContainer h2 {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(20px);
}

.imageContainer {
  position: relative;
  /* width: 100% !important;
  height: 100% !important; */
  overflow: hidden;
height: 190px;
line-height: 190px;


  transition: 0.3s;
  z-index: 0;
  opacity: 0;
  transform: translateY(-20px);
}
.imageContainer img{
  height: auto;
  width: 100%;
  vertical-align: middle;

}




@media only screen and (max-width: 1000px) {
  .articleContainer {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
  }
  .articleContainer article {
    padding: 3%;
  }
}

@media only screen and (max-width: 800px) {
  .articleContainer {
    grid-template-columns: 1fr 1fr;
    padding: 3% 15%;
  }
}

@media only screen and (max-width: 630px) {
  .articleContainer {
    grid-template-columns: 1fr 1fr;
    padding: 3% 10%;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 550px) {
  .articleContainer h2 {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 480px){
.imageContainer{
  height: 160px;
  line-height: 160px;
}
}

@media only screen and (max-width: 375px){
  .imageContainer{
    height: 130px;
    line-height: 130px;
  }
  }

@media only screen and (max-width: 300px) {
  .articleContainer h2 {
    font-size: 0.7rem;
  }
  .articleContainer {
    grid-template-columns: 1fr;
    padding: 4% 20%;
  }
}
