.services section {
  padding-top: 2%;
  padding-bottom: 4%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 18%);
  justify-content: center;
  gap: 6%;
}

.imgsContainer div {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 3%;
}

.imgsContainer div:nth-child(-n + 3) {
  opacity: 0;
  transform: translateX(-40px);
}

.imgsContainer div:nth-last-child(-n + 3) {
  opacity: 0;
  transform: translateX(40px);
}

.imgsContainer:nth-child(1) div {
  padding-left: 17%;
  padding-right: 5%;
}

.imgsContainer:nth-child(2) div {
  padding-left: 16%;
  padding-right: 16%;
  padding-bottom: 10%;
}

.imgsContainer:nth-child(3) div {
  padding-left: 19%;
  padding-right: 19%;
  padding-bottom: 9%;
  padding-top: 5%;
}

.imgsContainer:nth-child(4) div {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
}
.imgsContainer:nth-child(5) div .imgsContainer:nth-child(6) div {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
}

.imgsContainer:nth-child(7) div {
  padding-left: 19%;
  padding-right: 19%;
  padding-bottom: 9%;
  padding-top: 5%;
}

.services button {
  display: block;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;

  margin: 5% auto;
  border: black 2px solid;
  text-align: center;
  font-size: 0.9rem;
  transition: 0.2s;
}
@media (hover: hover) {
  .services button:hover {
    background-color: red;
    color: white;
    border-color: red;
    box-shadow: 1px -1px 24px 0px rgba(222, 99, 99, 1);
  }
}

@media only screen and (max-width: 1000px) {
  .services section {
    grid-template-columns: 20% 20% 20%;
    padding-bottom: 6%;
  }
  .services button {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 700px) {
  .services section {
    grid-template-columns: 30% 30%;
    padding-bottom: 18%;
    padding-top: 4%;
  }
}
@media only screen and (max-width: 550px) {
  .services section {
    grid-template-columns: 35% 35%;
    padding-bottom: 25%;
  }
}

@media only screen and (max-width: 500px) {
  .services section {
    grid-template-columns: 40% 40%;
  }
  .services button {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .services section {
    grid-template-columns: 45% 45%;
    padding-bottom: 30%;
  }
}

@media only screen and (max-width: 350px) {
  .services section {
    grid-template-columns: 55%;
    row-gap: 2%;
    padding-bottom: 50%;
  }
}
