.serviceRowContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  column-gap: 30px;
  flex-wrap: wrap;
  opacity: 0;
}

.shiftedToRight {
  transform: translateX(30px);
}
.shiftedToLeft {
  transform: translateX(-30px);
}

.imageContainer {
  position: relative;

  flex-basis: 200px;
  height: 130px;
  flex-shrink: 0;
}

.greenBG {
  background-color: rgb(141, 183, 141);
}

.yellowBG {
  background-color: rgb(255, 204, 102);
}

.blueBG {
  background-color: rgb(81, 184, 255);
}

.grayBG {
  background-color: rgb(199, 199, 199);
}

.redBG {
  background-color: #fbe1c3;
}

.brownBG {
  background-color: rgb(196, 164, 132);
}

.orderOne {
  order: 1;
}
.orderZero {
  order: 0;
}

.textContainer {
  flex-basis: 70%;
  padding-bottom: 20px;
}
.text {
  padding-top: 10px;
  align-self: center;
  justify-content: center;
}

.title {
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  border-bottom: 2px solid red;

  font-size: 1.3rem;
  font-weight: bolder;
}

.wrapper {
  padding-bottom: 50px;
}

@media only screen and (max-width: 930px) {
  .textContainer {
    flex-basis: 100%;
  }
}
