.slider {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border-bottom: 1px solid #e2e8f0;
}

.textContainer {
  background-color: rgba(255, 0, 0, 0.5);
  text-transform: uppercase;
  color: whitesmoke;
}

.textContainer span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  z-index: 3;
}

.sliderText,
.sliderText2,
.sliderText3 {
  display: block;
  position: absolute;
  padding: 10px;
  border-radius: 4px;
}

.sliderText {
  top: 15%;
  transform: translateX(-100%);
  animation: firstTextAnimation 0.2s linear forwards;
}

.sliderText2 {
  top: 35%;
  transform: translateX(-100%);
  animation: secondTextAnimation 0.2s 0.5s linear forwards;
}
.sliderText3 {
  top: 55%;
  transform: translateX(-100%);
  animation: thirdTextAnimation 0.2s 1s linear forwards;
}

@keyframes firstTextAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(5vw);
    opacity: 1;
  }
}

@keyframes secondTextAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(10vw);
    opacity: 1;
  }
}

@keyframes thirdTextAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(15vw);
    opacity: 1;
  }
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide {
  display: none;
}

@keyframes scaleSlide {
  0% {
    transform: scale(1.1);
    filter: blur(6px);
  }
  10% {
    filter: blur(0px);
  }

  100% {
    transform: scale(1);
  }
}

.activeSlide {
  display: block;
  height: 100%;
  animation: scaleSlide 3s linear forwards;
}

@media only screen and (max-width: 767px) {
  .right_arrow,
  .left_arrow {
    display: none;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
  .textContainer span {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .right_arrow,
  .left_arrow {
    -webkit-box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
    box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    padding: 8px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3rem;
    color: black;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    transition: 0.4s;
  }
  .right_arrow {
    right: -100%;
  }

  .left_arrow {
    left: -100%;
  }
  .slider {
    height: 70vh;
  }

  .slider:hover .left_arrow {
    left: 36px;
  }

  .slider:hover .right_arrow {
    right: 36px;
  }

  .left_arrow:hover,
  .right_arrow:hover {
    scale: 120%;
    background-origin: border-box;
    background-color: gray;
    color: white;
  }
}

.dots_container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}

@media only screen and (max-width: 1550px) and (orientation: portrait) {
  .slider {
    height: 650px;
  }
}

@media only screen and (max-width: 1400px) and (orientation: portrait) {
  .textContainer span {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1200px) and (orientation: portrait) {
  .slider {
    height: 600px;
  }
  .textContainer span {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
  .slider {
    height: 550px;
  }
  .textContainer span {
    font-size: 1.4rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
  .textContainer span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 850px) and (orientation: portrait) {
  .slider {
    height: 500px;
  }
  .textContainer span {
    padding: 7px;
  }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  .slider {
    height: 450px;
  }
  .textContainer span {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 750px) and (orientation: portrait) {
  .slider {
    height: 400px;
  }
  .textContainer span {
    padding: 5px;
  }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .slider {
    height: 350px;
  }
  .textContainer span {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .slider {
    height: 260px;
  }
  .textContainer span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
  .textContainer span {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 350px) and (orientation: portrait) {
  .slider {
    display: none;
  }
}
