@media only screen and (max-width: 1500px) {
  .container {
    transform: scale(0.9) !important;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    transform: scale(0.8) !important;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    transform: scale(0.7) !important;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    transform: scale(0.6) !important;
  }
}

.circleWithScaleAnimation {
  display: block;
  fill-opacity: 1;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  fill: white;
  opacity: 100%;
  animation: fromSmallToBig 0.3s linear forwards;
  transform-origin: center !important;
  transform-origin: center;
}


.circleBackground {
  cursor: pointer;
  fill: gray;
  opacity: 40%;
}




.circleWithBorderAnimation {
  display: block;
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: stroke 3s linear forwards;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke-linecap: round;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fromSmallToBig {
  to {
    transform: scale(1);
  }
}
