.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 90px;
  border-bottom: 2px solid #e2e8f0;
  z-index: 16;
  background-color: white;
  transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s;
  transition: 0.4s;
}

.hideHeader {
  transform: translateY(-100%);
}

.telContainer {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
}

.hide {
  display: none;
}

.navMenuContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.tel {
  font-size: 1.2rem;
  font-weight: bold;
}
.telLogo {
  margin-left: 0 !important;
  -webkit-animation: ring 2s ease;
  animation: ring 2s ease;
  animation-delay: 10s;
  animation-iteration-count: 5;
}

.telContainer:hover .telLogo {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.fbLogo > * {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 0 2rem;
  color: rgb(66, 103, 178);
  cursor: pointer;
  transition: 0.2s;
}
.fbLogo > *:hover {
  color: black;
}

.tel svg {
  color: red;
  margin-left: 5rem;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #222222;
}

.navmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navitem {
  margin-left: 2rem;
}

.active {
  color: red !important;
}

.navlink {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #475569;
  text-transform: uppercase;
}

.navlink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.4s;
}

.navlink:hover::after {
  width: 100%;
}

.navlink:hover {
  color: red;
}

.navlogo {
  position: relative;
  cursor: pointer;
  height: 100%;
  padding: 10px;
}

.navlogo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media only screen and (min-width: 850px) {
  .decreaseHeight {
    height: 75px;
  }
}
@media only screen and (orientation: portrait) and (max-width: 1400px) {
  .navlink {
    font-size: 0.8rem;
  }
  .navmenu {
    touch-action: none;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1000px) {
  .header {
    position: relative;
    height: 80px;
  }

  .tel {
    font-size: 1.1rem;
  }
  .navitem {
    padding-top: 0.5rem !important;
    padding-bottom: 1rem !important;
  }
  .navmenu {
    padding-top: 1rem !important;
  }
  .contactContainer {
    margin-top: 1rem !important;
  }
}

@media only screen and (max-width: 1180px) {
  .contactContainer {
    display: flex;
  }
  .navitem {
    margin-left: 0;
  }

  .tel {
    display: flex;
    align-items: center;
  }
  .telContainer svg {
    margin-right: 2px;
  }

  .navmenu {
    z-index: -1;
    position: absolute;
    width: 100vw;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    flex-direction: column;
    background-color: #fff;
    padding-top: 2rem;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navmenu.active {
    left: 0;
    right: 0;
    transform: translateY(0);
    border-top: #e2e8f0 solid 2px;
  }

  .backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
  }
  .fbLogo {
    text-align: center;
  }

  .navitem {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .contactContainer {
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    margin-top: 2rem;
    background-color: #d3d3d3;
    align-items: center;
    padding: 1.5rem 0;
  }

  .hamburger {
    margin-right: 5%;
    z-index: 1;
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media only screen and (max-width: 953px) and (orientation: portrait) {
  .header {
    height: 75px;
  }
  .navmenu {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 725px) and (orientation: portrait) {
  .header {
    height: 70px;
  }
  .telContainer p {
    display: none;
  }
}

@media only screen and (max-width: 650px) and (orientation: portrait) {
  .header {
    height: 65px;
  }

  .tel {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 550px) and (orientation: portrait) {
  .telContainer {
    display: none;
  }
  .tel {
    color: black;
  }
  .tel svg {
    width: 20px;
  }
}
