.aboutUs {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 5rem;
}

.aboutUsImage {
  position: relative;
  height: 100%;
  flex-basis: 260px !important;
  overflow: hidden;
  border-radius: 6px;
  -webkit-box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
  box-shadow: 3px 3px 21px -5px rgba(66, 68, 90, 1);
}

.aboutUsImage img {
  display: block;
  height: 100%;
  width: 100%;
}

.aboutUs div {
  flex-basis: 72%;
}

@media only screen and (max-width: 1320px) {
  .aboutUs div {
    flex-basis: 70%;
  }
}

@media only screen and (max-width: 1220px) {
  .aboutUs div {
    gap: 15px;
    margin-bottom: 1rem;
    flex-basis: 100%;
  }
  .aboutUs span {
    text-align: center;
  }
  .aboutUsImage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-basis: 400px !important;
  }
}
