.reviews {
  margin-top: 1%;
}

.innerContent {
  width: 630px;
  margin: 0 auto;
}
.reviewContainer {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.reviewContainer iframe {
  border-radius: 15px;
  border: 0;
  width: 100%;
}

.reviewContainer:after {
  content: "";
  display: block;
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
  .cebulka {
    padding-bottom: 220px;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .cebulka {
    padding-bottom: 240px;
  }
}

@media only screen and (max-width: 276px) and (orientation: portrait) {
  .cebulka {
    padding-bottom: 280px;
  }
}
