.container {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.container h2 {
  font-size: 1.05rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.inputField {
  margin: 10px 0;
  padding: 5px 7px;
}

.button {
  cursor: pointer;
  border: 2px solid black;
  padding: 10px 0px;
  border-radius: 15px;
  width: 200px;
  margin: 0 auto;
}

.inputsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputsContainer input {
  width: 49%;
  min-width: 165px;
}

.button:hover {
  color: white;
  background-color: rgb(23, 23, 23);
}

.requiredInfo {
  font-size: 0.95rem;
  padding-bottom: 5px;
}

.messageError,
.messageSuccess,
.messageLoading {
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
}

.messageSuccess {
  color: darkgreen;
}

.messageError {
  color: red;
}

.messageLoading {
  color: darkblue;
}

@media only screen and (max-width: 430px) and (orientation: portrait) {
  .inputsContainer input {
    width: 100%;
  }
  .inputField {
    margin: 8px 0;
    padding: 2px 6px;
  }
}

@media only screen and (max-width: 500px) {
    .container h2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 610px) and (orientation: portrait) {
  .form {
    width: 100%;
  }
}
