.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  z-index: 20;
  outline: none;
  touch-action: pan-x;
}

.closeBtn {
  background-color: transparent;
  position: absolute;
  right: 2%;
  top: 3%;
  font-size: 3.5rem;
  z-index: 9999999;
  cursor: pointer;
}
