.textContainer {
  padding-left: 25px;
  padding-bottom: 25px;
  opacity: 0;
  transform: translateY(20px);
}
.textContainer li {
  list-style-type: disc;
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.underline {
  width: 100%;
  border-bottom: 2px red solid;
}
.imgContainer {
  position: relative;
  height: 360px;
  width: 100vw;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.imgContainer a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 700px) {
  .imgContainer {
    height: auto;
  }
}
