.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  /* width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%; */
  background-color: rgba(255, 255, 255, 80%);
  z-index: 9999999999999999;
  outline: none;
  touch-action: pan-x;


  /* backdrop-filter: blur(2px); */
}



.closeBtn {
  background-color: transparent;
  position: absolute;
  right: 2%;
  top: 3%;
  font-size: 3.5rem;
  z-index: 9999999999999999;
  cursor: pointer;
}
